<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UXL_Launcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <UXL_Launcher.My.MySettings>
      <setting name="alwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="officeDriveLocation" serializeAs="String">
        <value>C</value>
      </setting>
      <setting name="cpuIsSixtyFourBit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="userHasOfficeThreeSixFive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="userOfficeVersion" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="installedViaMSIPackage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="debugmodeShowLabels" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="userChosenTheme" serializeAs="String">
        <value>AnotherTheme</value>
      </setting>
      <setting name="enableThemeEngine" serializeAs="String">
        <value>True</value>
      </setting>
    </UXL_Launcher.My.MySettings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>